<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <h2>{{ selectedNote.title }}</h2>
            <p>Priority: <b>{{ selectedNote.priority }}</b></p>
          </div>
          <div class="col-xs-6">
            <h5>Created: <b>{{ selectedNote.createdOn | amCalendar }}</b></h5>
            <h5>Due to: <b>{{ selectedNote.dueDate | amCalendar }}</b></h5>
          </div>
        </div>
    </div>
    <div class="panel-body">
        <p class="text-justify">
            {{ selectedNote.content }}
        </p>
    </div>
</div>
