<div class="list-group side__list">
  <button *ngFor="let note of notes" (click)="selectItem(note)" [ngClass]="{ 'active': note == selectedNote }" [disabled]="note == selectedNote"
    class="list-group-item">
    <div class="row">
      <div class="col-xs-4">
        <p>{{ note.title }}</p>
        <div class="container">
          <span title="Urgent!" *ngIf="note.priority === 5"
                class="glyphicon glyphicon-flash" aria-hidden="true"></span>
          <span title="Deadline tommorow!" *ngIf="isDueDateTommorow(note.dueDate)"
                style="margin-left: 10px;" class="glyphicon glyphicon-time"
                aria-hidden="true"></span>
        </div>
        <div>
          <b *ngIf="note.content.length > 25">It is long one</b>
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          Created on: <p class="badge">{{ note.createdOn | amCalendar }}</p>
        </div>
        <div>
          Due to: <p class="badge">{{ note.dueDate | amCalendar }}</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-6">
          <input style="width: 40px; color: black;" type="number" [(ngModel)]="note.priority" min="1" max="5">
        </div>
        <div class="col-xs-6">
          <button (click)="deleteItem(note)" class="btn btn-danger pull-right">X</button>
        </div>
      </div>
    </div>
    </button>
</div>
